@model Subject

@{
    ViewData["Title"] = "Show " + @Model.Name;
}

<h4>@Model.Name - @Model.Code</h4>
<hr />
<label for="description" class="font-weight-bold">Description</label>
<p id="description">@Model.Description</p>

<div class="form-group">
                    <a  href="#" onclick= "history.go(-1)"  class="btn btn-secondary btn-block"><i class="fa fa-table"></i> Back to List</a>
                </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}